*{
    font-family: "Open Sans", "Ubuntu";
}

body{
    background-color: #eee !important;
}


.block{
    min-height: 100px;
    margin-top:0px;
    margin-bottom: 50px;
    padding:25px;
}

#block-title{
    background-color:#27ae60;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#text-title{
    color:#fff;
}

.row-day{
    min-height: 80px;
    line-height: 1.5em;
    padding:20px;
}

*[class^='row-day-n'], *[class*='row-day-n']{
    min-height: 80px;
    line-height: 1.5em;
    padding-left:20px;
}

#col-l{
    border-right: solid 1px #aaa;
}

#col-r{

}

.subject-element{
    min-height: 150px;
    padding:20px;
    margin-left:20px;
    background-color:#fff;
    color:#544;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.se-btn-group{
    position: absolute;
    right:10px;
    bottom:10px;
}

.se-btn{
    background-color: transparent;
    border: none;
}

.se-time{
    color: #c62828;
    font-size:0.9em;
}

.se-subject-name{
    font-size: 1.1em;
}

.se-extra{
    color:#988;
    font-size: 0.9em;
}
.se-btn-delete{
    color: #b71c1c;
}
