*{
    font-family: "Open Sans", "Ubuntu";
}


.block{
    min-height: 100px;
    margin-top:0px;
    margin-bottom: 50px;
    padding:25px;
}

#block-title{
    background-color:#27ae60;
}

#text-title{
    color:#fff;
}
