$primary-color: #008080;


body{
    font-family: 'Source Sans Pro';
}

a, button, input[type="button"], input[type="submit"] {
    text-transform: uppercase;
}

.btn-outline {
    padding: 10px 24px;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: transparent;
}

.form-input{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 10px 16px;
}
.form-input:focus{
    border-color: $primary-color;
}
.form-group{
    margin-bottom: 24px;
}
.form-group:last-child{
    margin-top: 32px;
    text-align: right;
}



#footer{
    padding-top: 32px;
    padding-bottom: 24px;

    #links{
        margin-top: 16px;
    }
    #links a{
        padding: 16px;
        display: inline-block;
    }
    .logo{
        float: left;
        margin-right: 10px;
        padding-left: 24px;
    }
    #app-name{
        font-size: 2em;
    }
    footer{
        margin-top: 10px;
    }
}
