{% extends 'base.html' %}
{% load classroom_tags %}
{% load staticfiles %}

{% block title %}
{{class}}
{% endblock %}

{% block head %}
<link href="{% static 'css/class.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/class.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="title-block">
    <div class="container">
        <div class="app-name">Notifica</div>
        <div id="class-info">
            <img class="avatar" src="/media/{{class.profile.avatar}}">
            <div class="title">069-BCT</div>
        </div>
    </div>
</div>
<div class="block" id="body-block">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="content-block">
                    <div id="tabs">
                        <a href="#" class="tab active" data-target="news-feed">News feed</a>
                        <a href="#" class="tab" data-target="teachers">Teachers</a>
                        <a href="#" class="tab" data-target="students">Students</a>
                        <a href="#" class="tab" data-target="subjects">Subjects</a>
                    </div>
                    <div id="tab-contents">
                        <div class="tab-content active" id="news-feed">
                            News feed
                        </div>
                        <div class="tab-content hidden" id="teachers">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card card-teacher">
                                        <img class="avatar" src="/static/img/ninja.png">
                                        <div class="name">Absolute Zero</div>
                                        <div class="extra">Phd. Computer Technology</div>
                                    </div>
                                    <div class="card card-teacher">
                                        <img class="avatar" src="/static/img/ninja.png">
                                        <div class="name">Absolute Zero</div>
                                        <div class="extra">Phd. Computer Technology</div>
                                    </div>
                                    <div class="card card-teacher">
                                        <img class="avatar" src="/static/img/ninja.png">
                                        <div class="name">Absolute Zero</div>
                                        <div class="extra">Phd. Computer Technology</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card card-teacher">
                                        <img class="avatar" src="/static/img/ninja.png">
                                        <div class="name">Absolute Zero</div>
                                        <div class="extra">Phd. Computer Technology</div>
                                    </div>
                                    <div class="card card-teacher">
                                        <img class="avatar" src="/static/img/ninja.png">
                                        <div class="name">Absolute Zero</div>
                                        <div class="extra">Phd. Computer Technology</div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="tab-content hidden" id="students">
                            Students
                        </div>
                        <div class="tab-content hidden" id="subjects">
                            Subjects
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="quick-task-block">
                    <div class="title">Quick Tasks</div>
                    <div id="tasks">
                        <a href="#" class="task"><i class="fa fa-calendar-check-o"></i> Take Attendence</a>
                        <a href="#" class="task"><i class="fa fa-plus"></i> Add an Assignment</a>
                        <a href="#" class="task"><i class="fa fa-user-plus"></i> Add a Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
