{% extends 'base.html' %}
{% load classroom_tags %}

{% load staticfiles %}

{% block title %}
Notifica: News feed
{% endblock %}


{% block head %}
<link href="{% static 'css/user.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/ripple.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/ripple.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="title-block">
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Sign out">
    </form>
    <a href="{% url 'routine:routine' %}">Routine</a>
    <h1>Notifica</h1>
    <p>
        Hello! {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
    </p>
</div>
<div class="block" id="news-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>Recent Posts</h2>
                <div class="card card-post">
                    <div class="op-info">
                        <div class="container-user-avatar">
                            <img src="{% static 'img/ninja.png' %}">
                        </div>
                        <span class="op-name">Absolute Zero</span>
                        <br>
                        <span class="post-time">3 minutes ago</span>
                    </div>
                    <p class="detail">
                        We do not have any class on Sunday, Happy Holiday!
                    </p>
                    <div class="comments">
                        <div class="container-comment-controls row">
                            <div class="col-md-8">
                                <input type="text" placeholder="Enter your comment">
                                <button class="btn-send"><i class="fa fa-paper-plane"></i></button>
                            </div>
                            <div class="col-md-4">
                                <button class="expand-button">2 comments <i class="fa fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="list-comment">
                            <div class="comment">
                                <div class="user-info">
                                    <div class="container-user-avatar">
                                        <img src="{% static 'img/spy.png' %}">
                                    </div>
                                    <span class="user-name">Aditya Khatri</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="post-time">3 minutes ago</span>
                                </div>
                                <p>Wau, that's great</p>
                            </div>
                            <div class="comment">
                                <div class="user-info">
                                    <div class="container-user-avatar">
                                        <img src="{% static 'img/ks.png' %}">
                                    </div>
                                    <span class="user-name">Keyser Soze</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="post-time">20 minutes ago</span>
                                </div>
                                <p>Really really really long long long long comment. This comment is so long that it goes multiple lines.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-post">
                    <div class="op-info">
                        <div class="container-user-avatar">
                            <img src="{% static 'img/ninja.png' %}">
                        </div>
                        <span class="op-name">Absolute Zero</span>
                        <br>
                        <span class="post-time">2 days ago</span>
                    </div>
                    <p class="detail">
                        How's the website guys? Please give your feedback in the comment.
                    </p>
                    <div class="comments">
                        <div class="container-comment-controls row">
                            <div class="col-md-8">
                                <input type="text" placeholder="Enter your comment">
                                <button class="btn-send"><i class="fa fa-paper-plane"></i></button>
                            </div>
                            <div class="col-md-4">
                                No comments yet
                            </div>
                        </div>
                    </div>
                </div>

                <a id="view-all-link" href="#">View all Posts &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h2>Upcomming Events</h2>
                <div class="card card-event">
                    <span class="title">Admit Card Distribution</span> in <span class="eta-low">1 days</span>
                </div>
                <hr>
                <div class="card card-event">
                    <span class="title">Internal Assesment</span> in <span class="eta-high">7 days</span>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>




{% endblock %}
