{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Notifica: Home
{% endblock %}

{% block head %}
<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<section id="header">
    <div class="container">
        <nav>
            <div>
                <img class="logo" src="{% static 'img/logo-small-teal.png' %}">
                <h1>Notifica</h1>
            </div>
            <div id="promo-text">
                A must have routine app
            </div>
        </nav>
        <div class="row">
            <div class="col-md-3 col-md-offset-2 hidden-xs col-sm-4 col-sm-offset-1">
                <img id="brand-img" src="{% static 'img/notifica-oneplus.png' %}">
            </div>
            <div class="col-md-5 col-sm-7">
                <div class="form-wrapper" id="signin-form">
                    <div class="form-header">
                        <h4>Sign in to get started</h4>
                    </div>
                    <form >
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn-outline">
                        </div>
                    </form>
                    <div class="form-footer">
                        <p>Don't have notifica account? <a href="#" id="show-register-btn">Register</a></p>
                    </div>
                </div>
                <div class="form-wrapper" id="register-form" hidden>
                    <div class="form-header">
                        <h4>Create new account</h4>
                    </div>
                    <form >
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-input" name="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-input" name="lastname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn-outline">
                        </div>
                    </form>
                    <div class="form-footer">
                        <p>Already have notifica account? <a href="#" id="show-signin-btn">Sign in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
<script>
$('#show-register-btn').click(function(e){
    e.preventDefault();
    $('#signin-form').hide();
    $('#register-form').slideDown();
});
$('#show-signin-btn').click(function(e){
    e.preventDefault();
    $('#register-form').hide();
    $('#signin-form').slideDown();
});
</script>
{% endblock %}
