{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Notifica: Home
{% endblock %}

{% block head %}
<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="section" id="header-section">
    <div class="container">
        <div class="menu">
            <a href="{% url 'signin' %}"><i class="fa fa-sign-in"></i>Sign in</a>
        </div>
        <div class="app-info">
            <img class="logo" src="{% static 'img/logo.png' %}">
            <div class="title">Notifica</div>
            <div class="extra">A must have routine app</div>
        </div>
        <div id="app-download-link">
            <a href="#"><i class="fa fa-download"></i> Download android app</a>
        </div>
    </div>
</div>
<div class="section" id="info-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <p>
                    Notifica is an app to ease the information flow inside an institution.
                    It consists of web interface as well as smartphone app for the users.
                    The app is currently available only on Android platform
                </p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <p>
                    If you are a student or a teacher looking for a good routine app with a beautiful and easy-to-use interface,
                    Notifica is the perfect solution for you!
                </p>
            </div>
        </div>

    </div>
</div>
<div class="section" id="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 feature">
                <a>Always get notified, never miss a thing</a>
                <p>
                    Through the help of this app teachers can notify their students about
                    what topics will be covered in the upcoming lectures.
                </p>
            </div>
            <div class="col-md-4 feature">
                <a>Easily get and submit your Assignments</a>
                <p>
                    Notifica is designed to help teachers create and collect assignments paperlessly,
                    including other time-saving features such as the ability to directly notify the
                    class about the projects and assignments directly.
                </p>
            </div>
            <div class="col-md-4 feature">
                <a>Time is important, save it</a>
                <p>
                    No time is wasted, you get instantly notified of what the next class and who is
                    going to take the class, and if by any reasons the class is delayed or the class
                    is off then you will be simply notified.
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
