{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Notifica: Settings
{% endblock %}

{% block head %}
<link href="{% static 'css/settings.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="title-block">
    <div class="block" id="title-block">
        <div class="container">
            <div class="app-info">
                <img class="logo" src="{% static 'img/logo.png' %}">
                <a href="{% url 'home' %}" class="app-name">Notifica</a>
                <div class="extra"><i class="fa fa-cog"></i> Settings</div>
            </div>
        </div>
    </div>
</div>
<div class="block" id="body-block">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="headers">
                    <a href="#" class="active settings-header" data-target="account-settings-content" id="account">Account</a>
                    <a href="#" class="settings-header" id="user" data-target="user-settings-content">User</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="contents">
                    <div class="active settings-content" id="account-settings-content">
                        Account Settings
                    </div>
                    <div class="settings-content" id="user-settings-content">
                        User Settings
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
