{% load staticfiles %}
<div class="userpost">
    <div class="userinfo userinfo-op row">
        <img class="user-avatar" src="{% static 'img/' %}{{ userpost.userAvatar }}">
        <a class="user-name" href="{{ userpost.userProfileLink }}">{{ userpost.userName }}</a>
        <br>
        <span class="time">{{ userpost.time }}</span>
    </div>
    <div class="content row">
        <p>
            {{ userpost.content }}
        </p>
    </div>
    <div class="controls row">
        <div class="col-md-8 control-add-comment">
            <button class="btn-send"><i class="fa fa-paper-plane"></i></button>
            <input type="text" placeholder="Add Comment">
        </div>
        <div class="col-md-4 control-toggle-comments">
            <button class="btn-toggle-comments">{{ userpost.comments|length }} comments <i class="fa fa-chevron-down"></i></button>
        </div>
    </div>
    <div class="comments row" data-hidden="true">
        {% for comment in userpost.comments %}
        {% include 'main/comment.html' %}
        {% endfor %}
    </div>
</div>
