{% extends 'base.html' %}
{% load classroom_tags %}

{% load staticfiles %}

{% block title %}
Notifica: News feed
{% endblock %}


{% block head %}
<link href="{% static 'css/user.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/ripple.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/ripple.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="title-block">
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Sign out">
    </form>
    <a href="{% url 'routine:routine' %}">Routine</a>
    <h1>Notifica</h1>
    <p>
        Hello! {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
    </p>
</div>
<div class="block" id="news-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h2>Recent Posts</h2>
                {% for userpost in userposts %}
                    {% include 'main/userpost.html' %}
                {% endfor %}
                <a id="view-all-link" href="#">View all Posts &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h2>Upcomming Events</h2>
                <div class="card card-event">
                    <span class="title">Admit Card Distribution</span> in <span class="eta-low">1 days</span>
                </div>
                <hr>
                <div class="card card-event">
                    <span class="title">Internal Assesment</span> in <span class="eta-high">7 days</span>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>




{% endblock %}
