{% extends 'base.html' %}
{% load classroom_tags %}

{% load staticfiles %}

{% block title %}
Notifica: News feed
{% endblock %}


{% block head %}
<link href="{% static 'css/user.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/ripple.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/ripple.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="top-block">
    <div class="container">
        <div class="menu">
            <!-- <form method="post">
                {% csrf_token %}
                <input type="submit" value="Sign out">
            </form> -->
            <a href="{% url 'routine:routine' %}">Routine</a>
            <a href="#">Sign out</a>
        </div>
        <h2 class="title">News feed</h2>
    </div>
</div>
<div class="block" id="news-block">
    <div class="container">
        <div class="controls-news">
            <div class="fa fa-search"></div>
            <input type="text" placeholder="search">
            <div class="filters">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        Newest &nbsp;<span class="fa fa-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="selected"><a href="#">Newest</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% for userpost in userposts %}
            {% include 'main/userpost.html' %}
            {% if forloop.counter != userposts|length %}
            <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="block" id="footer-block">
    <div class="container">
        copyright (c) 2015, Notifica. All rights reserved.
    </div>
</div>
{% endblock %}
