<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toggle.notifica" >

    <permission android:name="com.toggle.notifica.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.lipi.notifica.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Activities -->

        <activity android:name="com.toggle.notifica.LoginActivity" android:theme="@style/ForLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.toggle.notifica.RegisterActivity" android:theme="@style/ForLogin"/>
        <activity android:name="com.toggle.notifica.MainActivity" />
        <activity android:name="com.toggle.notifica.ClassActivity" />
        <activity android:name="com.toggle.notifica.SubjectDetailsActivity"/>
        <activity android:name="com.toggle.notifica.SettingsActivity" android:theme="@style/ForSettings"/>
        <activity android:name="com.toggle.notifica.PostDetailActivity" android:theme="@style/AppTheme"/>

        <!-- Widget providers -->

        <receiver android:name="com.toggle.notifica.RoutineWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_routine_info" />
        </receiver>

        <receiver android:name="com.toggle.notifica.PeriodWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_period_info" />
        </receiver>


        <!-- GCM receivers and services -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.lipi.notifica" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.toggle.notifica.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.toggle.notifica.MyInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service android:name="com.toggle.notifica.GcmRegisterService" android:exported="false"/>
    </application>

</manifest>
