{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load classroom_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/routine.css' %}">
<script src="{% static 'js/routine-renderer.js' %}"></script>
<script>
    var periodsCount=0;
    var user_group_id = "{{ student.group.id }}";
    var routine = [];
    var routine_all = [
        {% for day, periods in routine.items %}[
            {% for p in periods %} {
                id: periodsCount++,
                subject:{
                    name: "{{ p.subject|safe }}",
                    id: {{ p.subject.id }}
                },
                teachers:[
                    {% for t in p.teachers.all %} {
                        name: "{{ t }}",
                        id: {{ t.id }}
                    },
                    {% endfor %}
                ],
                remarks:"{{p.remarks}}",
                start_time:{{p.start_time}},
                end_time:{{p.end_time}},
                groups:[
                    {% for group in p.groups.all %}{
                        name: "{{group}}",
                        id: "{{group.id}}"
                    },
                    {% endfor %}
                ]
            },
            {% endfor %}
        ],
        {% endfor %}
    ];
    var group_list = [
    {% for group in groups.all %}{
            id: "{{ group.id }}",
            name: "{{ group }}"
        },
    {% endfor %}
    ];
</script>

{% endblock %}

{% block body %}
{% include 'routine/period-template.html' %}
<!-- <div class="block" id="title-block">
    <a href="{% url 'posts:feed' %}">News Feeds</a>
    <h1>notifica</h1>
    <p>
        Weekly Routine
    </p>
</div> -->
<div class="block" id="title-block">
    <div class="container">
        <button class="input-neat" id="drawer-open-btn">
            <i class="fa fa-bars"></i>
        </button>
        <span class="title">Weekly Routine</span>
    </div>
</div>
<div class="block" id="routine-block">
    <div class="container">
        <div class="row" id="title-row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11" id="time-line">
                <div class="ghost">time-line</div>
            </div>
        </div>
        {% for day in days_short %}
        <div class="row row-day row-day-{{ forloop.counter0 }}" data-index-day="{{ forloop.counter0 }}" >
            <div class="col-md-1 col-days">
                <p class="day-name">{{ day }}</p>
            </div>
            <div class="col-md-11 col-periods">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
