{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/routine.css' %}">
<script src="{% static 'js/routine.js' %}"></script>
{% endblock %}

{% block body %}
<div class="block" id="title-block">
    <a href="{% url 'classroom:user' %}">News Feeds</a>
    <h1>Notifica</h1>
    <p>
        Weekly Routine
    </p>
</div>

<div class="template-period hidden">
    <p class="subject">Project Management</p>
    <p class="teachers">Arun Timalsina</p>
    <p class="remarks"></p>
</div>

<div class="block" id="routine-block">
    <div class="row row-heading">
        <div class="col-md-1">
            Day / Time
        </div>
        <div class="col-md-11">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Sunday
        </div>
        <div class="col-md-11">
            <button class="btn-add-period"><i class="fa fa-plus"></i> Period</button>
            <div class="periods">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Monday

        </div>
        <div class="col-md-11">
            <button class="btn-add-period"><i class="fa fa-plus"></i> Period</button>
            <div class="periods">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Tuesday
        </div>
        <div class="col-md-11">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Wednesday
        </div>
        <div class="col-md-11">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Thursday
        </div>
        <div class="col-md-11">
        </div>
    </div>
</div>
{% endblock %}
