{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}
{% load classroom_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/routine.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/navigation-drawer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/routine-editor.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/add-period-dialog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}">
{% include 'routine/routine-vars.html' %}
<script src="{% static 'js/routine.js' %}"></script>
<script src="{% static 'js/navigation-drawer.js' %}"></script>
<script src="{% static 'js/routine-editor.js' %}"></script>
<script src="{% static 'js/selectize.js' %}"></script>
<script>
    function saveRoutine() {
        document.forms['routineform'].routine.value = JSON.stringify(routine_all);
        document.forms['routineform'].submit();
    }
</script>
{% endblock %}

{% block body %}
{% include 'navigation-drawer.html' %}
{% include 'routine/period-template.html' %}
{% include 'routine/add-period-dialog.html' %}
<div class="block" id="title-block">
    <div class="container">
        <button class="input-neat" id="drawer-open-btn">
            <i class="fa fa-bars"></i>
        </button>
        <span class="title">Weekly Routine</span>
        <button class="input-neat" id="save-btn" onclick="saveRoutine()"><i class="fa fa-save"></i> &nbsp; Save changes</button>
        {% if groups.all %}
        <div id="group-select">
            Group:
            <select>
                {% for group in groups.all %}
                <option value="{{ group.id }}">{{group}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

    </div>
</div>

<div class="block" id="routine-block">
    <div class="container">
        <div class="row" id="title-row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11" id="time-line">
                <div class="ghost">time-line</div>
            </div>
        </div>
        {% for day in days_short %}
        <div class="row row-day row-day-{{ forloop.counter0 }}" data-index-day="{{ forloop.counter0 }}" >
            <div class="col-md-1 col-days">
                <p class="day-name">{{ day }}</p>
                <button class="btn-add-period" ><i class="fa fa-plus"></i> Period</button>
            </div>
            <div class="col-md-11 col-periods">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<form name="routineform" method="post">
    {% csrf_token %}
    <input name="routine" value="" type="hidden">
</form>
{% endblock %}
