{% load staticfiles %}

<div class="block" id="footer-block">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div id="about">
                    <div class="logo-container">
                        <img class="logo" src="{% static 'img/logo.png' %}">
                    </div>
                    <a href="{% url 'home' %}" class="app-name">Notifica</a>
                    <div class="slogan">a must have routine app</div>
                </div>
            </div>
            <div class="col-sm-6" id="links">
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Developers</a>
                <a href="#">Send feedback</a>
            </div>
        </div>
    </div>
</div>
