<div class="block" id="footer-block">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="about">
                    <a href="#" class="title"><i class="fa fa-graduation-cap"></i> Notifica</a>
                    <br>
                    <span class="extra">a must have routine app</span>
                </div>
            </div>
            <div class="col-sm-6 links">
                <a href="#">Terms &amp; Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Developers</a>
                <a href="#">Send feedback</a>
            </div>
        </div>
    </div>
</div>
