{% load staticfiles %}

<div class="backdrop" hidden></div>
<section id="navigation-drawer">
    <header>
        <img class="avatar" src="/media/{{user.profile.avatar}}">
        <div class="name">{{ user.first_name }} {{user.last_name}}</div>
        <div class="extra">{{ user.email }}</div>
    </header>
    <div class="menu">
        <a class="item {% if current_page == 'News feed' %}active{% endif %}" href="{% url 'posts:feed' %}"><i class="fa fa-newspaper-o"></i> News feed</a>
        <a class="item {% if current_page == 'Routine' %}active{% endif %}" href="{% url 'routine:routine' %}"><i class="fa fa-clock-o"></i> Routine</a>
        <a class="item {% if current_page == 'Assignments' %}active{% endif %}" href="#"><i class="fa fa-edit"></i> Assignments</a>
        <hr>
        <a class="item" {% if current_page == 'Settings' %} active {% endif %}  href="{% url 'settings' %}"><i class="fa fa-cog"></i> Settings</a>
        <a class="item" href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Sign out</a>
    </div>
</section>
