<div class="backdrop"></div>
<div class="navigation-drawer color-bg shadow">
    <div class="header color-bg-dark">
        <button id="drawer-close-btn">
            <i class="fa fa-chevron-left"></i>
        </button>
        <span class="app-title">notifica</span>
        <div class="user-info">
            <img class="avatar" src="/static/img/ninja.png">
            <div class="name">{{ user.first_name }} {{user.last_name}}</div>
            <div class="extra">{{ user.email }}</div>
        </div>
    </div>
    <div class="menu">
        <a class="item {% if current_page == 'News feed' %}active{% endif %}" href="{% url 'posts:feed' %}"><i class="fa fa-newspaper-o"></i> News feed</a>
        <a class="item {% if current_page == 'Routine' %}active{% endif %}" href="{% url 'routine:routine' %}"><i class="fa fa-clock-o"></i> Routine</a>
        <a class="item {% if current_page == 'Assignments' %}active{% endif %}" href="#"><i class="fa fa-edit"></i> Assignments</a>
        <hr>
        <a class="item" href="#"><i class="fa fa-cog"></i> Settings</a>
        <a class="item" href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Sign out</a>
    </div>
</div>
