<div class="template-card-comment card hidden">
    <div class="row">
        <div class="col-xs-3 info">
            <img class="avatar">
            <a class="user-name" href="#"></a>
            <span class="time">
                <!-- <i class="fa fa-clock-o"></i>  -->
                <time class="timeago timeago-comment"></time>
            </span>
        </div>
        <div class="col-xs-9">
            <div class="content"></div>
            <div class="pointer"></div>
        </div>
    </div>
</div>
