{% extends 'base.html' %}
{% load classroom_tags %}
{% load staticfiles %}

{% block title %}
Feeds | Notifica
{% endblock %}

{% block head %}
<link href="{% static 'css/feed.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-drawer.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<nav>
    <div class="container">
        <i class="fa fa-bars" id="drawer-open-btn"></i>
        <h2>News feed</h2>
    </div>
</nav>
<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="block" id="post-block" role="main">
                    <h3>Recent Posts</h3>
                    <div class="msg" id="empty" hidden>Sorry! No result found</div>
                    <div id="posts">
                    </div>
                    <div id="loading-animation" hidden>
                        <img src="{% static 'img/loading-posts.gif' %}">
                    </div>
                    <div id="load-more-wrapper" hidden>
                        <button class="btn-outline">Load more</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">

                <div class="block" id="notification-block">
                    <h4>Notification</h4>
                    {% for notification in notifications %}
                        {% if notification.type == "request" and notification.request.request_type == 0 %}
                        <div class="notification" id="request-{{ notification.class.pk }}">
                            <a href="{% url 'classroom:class' notification.class.pk %}" class="name">{{ notification.class.class_id }}</a>
                            <div class="extra">
                                {{ notification.sender_name }} sent a join request
                            </div>
                            <footer>
                                <a href="#" onclick="acceptRequest({{notification.request.pk}});"><i class="fa fa-check"></i>Accept</a>
                                <a href="#" onclick="rejectRequest({{notification.request.pk}});"><i class="fa fa-times"></i>Reject</a>
                            <footer>
                        </div>
                        {% endif %}
                    {% empty %}
                    <div class="item item-empty" >
                        <p>No notifications</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="block" id="class-list-block">
                    <h4>Classes</h4>
                    {% for p_class in classes %}
                    <div class="class">
                        <a href="{% url 'classroom:class' p_class.pk %}" class="name">{{p_class.class_id}}</a>
                        {% if p_class.department %}
                            <div class="extra">{{p_class.department.name}}</div>
                        {% else %}
                            <div class="extra">{{p_class.description}}</div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <div class="list-empty" >No classes</div>
                    {% endfor %}
                    <footer>
                        <a id="add-class-link" href="{% url 'classroom:add-class' %}" class="btn-outline"><i class="fa fa-plus"></i> Add class</a>
                    </footer>
                </div>

            </div>
        </div>
    </div>
</section>
{% include 'posts/userpost-template.html' %}
{% include 'navigation-drawer.html' %}
{% include 'footer.html' %}
<script src="{% static 'js/jquery.timeago.js' %}"></script>
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/navigation-drawer.js' %}"></script>
{% endblock %}
