{% extends 'base.html' %}
{% load classroom_tags %}
{% load staticfiles %}

{% block title %}
Notifica: News feed
{% endblock %}

{% block head %}
<link href="{% static 'css/navigation-drawer.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/feed.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/navigation-drawer.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'navigation-drawer.html' %}
{% include 'posts/userpost-template.html' %}
<div class="msg hidden" id="empty-msg">Sorry, no result found</div>
<div class="msg hidden" id="error-msg">Oops! Something went wrong</div>
<div class="block" id="title-block">
    <div class="container">
        <button class="input-neat" id="drawer-open-btn">
            <i class="fa fa-bars"></i>
        </button>
        <span class="title">News feed</span>
    </div>
</div>
<div class="block" id="content-block">
    <div class="container">
        <div class="row">
            <div id="post-block" class="col-md-8">
                <div class="search-input-container">
                    <i class="fa fa-search"></i>
                    <input class="input-neat" id="search-post-input" type="text" placeholder="search for posts by title, content, tag">
                </div>
                <div class="posts">
                </div>
                <div class="bottom-control-container">
                    <div id="posts-loading-animation"></div>
                    <button class="input-neat" id="more-post-btn">load more posts</button>
                </div>
            </div>
            <div id="quick-links-block" class="col-md-4">
                <div class="block-list" id="class-list">
                    <div class="title">Classes</div>
                    <div class="card card-class">
                        <div class="info">
                            <div class="name">069-BCT</div>
                            <div class="department">Department of Electronics &amp; Computer Engineering</div>
                        </div>
                    </div>
                    <div class="card card-class">
                        <div class="info">
                            <div class="name">069-BCE</div>
                            <div class="department">Department of Civil Engineering</div>
                        </div>
                    </div>
                    <div class="card card-class">
                        <div class="info">
                            <div class="name">069-BEX</div>
                            <div class="department">Department of Electronics &amp; Computer Engineering</div>
                        </div>
                    </div>
                </div>

                <div class="block-list" id="department-list">
                    <div class="title">Departments</div>
                    <div class="card card-department">
                        <div class="info">
                            <div class="name">Department of Electronics &amp; Computer Engineering</div>
                            <div class="organization">Institute of Engineering</div>
                        </div>
                    </div>
                    <div class="card card-department">
                        <div class="info">
                            <div class="name">Department of Civil Engineering</div>
                            <div class="organization">Institute of Engineering</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
