{% load staticfiles %}
<div class="userpost">
    <div class="num-comments">
        <div class="num">
            {{ userpost.numComments }}
        </div>
        comments
    </div>
    <div class="header">
        <img class="user-avatar" src="{% static 'img/' %}{{ userpost.userAvatar }}">
        <a href="#" class="title">{{ userpost.title }}</a>
        <div class="info">{{ userpost.time }} by <a href="#" class="user-name">{{ userpost.userName }}</a></div>
    </div>
    <div class="tags">
        {% for tag in userpost.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
