{% extends 'base.html' %}
{% load classroom_tags %}
{% load staticfiles %}

{% block title %}
Notifica: {{ post.title }}
{% endblock %}

{% block head %}
<link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/post.js' %}"></script>
<script>
    var post_id = {{post.pk}};
</script>
{% endblock %}

{% block body %}
{% include 'posts/comment-template.html' %}
<div class="block" id="title-block">
    <div class="container">
        <div class="app-info">
            <img class="logo" src="{% static 'img/logo.png' %}">
            <a href="{% url 'home' %}" class="app-name">Notifica</a>
        </div>
    </div>
</div>
<div class="block" id="content-block">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-post">
                    <div class="title">{{post.title}}</div>
                    <div class="extra">
                        <span id="user-info">
                            <i class="fa fa-user"></i>
                            {% if post.posted_by.first_name %}
                                {{ post.posted_by.first_name }} {{ post.posted_by.last_name }}
                            {% else %}
                                {{ post.posted_by.username }}
                            {% endif %}
                        </span>
                        <span id="post-date">
                            <i class="fa fa-calendar"></i> {{ post.posted_at }}
                        </span>
                    </div>
                    <div class="content">{{post.body}}</div>
                    <div>
                        <form id="comment-form">
                            {% csrf_token %}
                            <input id="comment-input" class="input-neat" type="text" placeholder="Enter your comment">
                            <input id="submit" class="btn btn-default" type="submit">
                        </form>
                    </div>
                </div>
                <div id="comments">
                </div>
            </div>
            <div class="col-md-4">
                <a>Quick Tasks</a>
                <div class="card card-quick-tasks">
                    <a href="#"><i class="fa fa-edit"></i> Edit Post</a>
                    <a href="#"><i class="fa fa-exclamation-circle"></i> Report abuse</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'footer.html' %}

{% endblock %}
