<div class="template-userpost hidden">
    <div class="row header">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-3 user-avatar-container"><img class="user-avatar"></div>
                <div class="col-xs-9">
                    <a href="#" class="title"></a>
                    <div class="info">
                        <i class="fa fa-user"></i> <a href="#" class="user-name"></a>
                        <i class="fa fa-clock-o"></i> <time class="timeago timeago-post"></time>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="num-comments"><span class="num"></span> comments</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 content">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 tags">
        </div>
    </div>
</div>
