.feature{
    margin-bottom: 50px;
}

.container-download-btn{
    margin-top: 50px;
    display: block;
    text-align: center;
}
.app-download-link i{
    margin-right: 10px;
    background-color: #e0e0e0;
    color: #646464;
    padding:10px;
    border-radius: 50%;
}
.app-download-link{
    border-radius: 6px;
    padding: 16px 50px;
}
.app-download-link:hover i{
    color: #646464;
}
#feature-block a{
    font-size: 1.5em;
}
#feature-block p{
    margin-top: 20px;
    font-size: 1.11em;
    line-height: 1.6em;
    text-align: justify;
}
#feature-block{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
#feature-block .app-download-link{
    font-size: 1.23em;
}
