.block{
}
#title-block{
    padding: 10px 0px;
    color: #a2a2a2;
    background-color: #fff;
}
#title-block .app-info{
}
#title-block .app-name{
    font-family: "Raleway", "Open Sans";
    font-size: 3em;
    vertical-align: middle;
}
#title-block .logo{
    width: 40px;
    margin-right: 20px;
}
#title-block .title{
    font-size: 1.6em;
}
#title-block #class-info{
    text-align: center;
}
#title-block .avatar{
    width: 50px;
    height: 50px;
    padding:4px;
    margin-bottom: 10px;
}

#body-block{
    padding-top: 20px;
}

#content-block{
    border-radius: 4px;
}
#content-block #tabs{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    text-align: center;
}
#content-block #tabs .tab{
    transition: none;
    font-size: 0.88em;
    padding: 0px 8px;
}
#content-block #tabs .active{
    color: #646464;
    border-bottom: 2px solid #da4453;
}
#content-block #content{
    padding: 0px 10px;
}

#quick-task-block .title{
    font-size: 0.88em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #a2a2a2;
}

#quick-task-block #tasks{
    background-color: #fff;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
}

#quick-task-block #tasks .task{
    display: block;
    padding:6px 20px;
}
#quick-task-block #tasks .task i{
    width: 24px;
    margin-right: 6px;
}

#content-block{

}

.tab-content{
    padding: 20px;
    display: block;
}

.card{
    background: #fff;
    padding: 10px 12px;
    margin:20px 0px;
    border-radius: 3px;
    color: #969696;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.card-teacher .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:4px;
    background-color: #f5f5f5;
}
.card-teacher .name{
    color: #303030;
}
.card-teacher .extra{
    font-weight: bold;
    font-size: 0.88em;
}

.form-add-post input[type="text"]{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 16px;
}
.form-add-post{
    text-align: right;
}
.form-add-post input[type="submit"]{
}
.form-add-post textarea{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 16px;
    resize: none;
}

.table-students{
    width: 100%;
    color: #646464;
}
.table-students th{
    padding: 12px 18px;
}
.table-students td{
    padding: 12px 18px;
    background: #fff;
}
.table-students tr{
    border-bottom: 1px solid #eee;
}
.table-students tr:first-child{
    border-bottom: none;
}
.table-students tr:last-child{
    border-bottom: none;
}
