.block{
}
#title-block{
    padding: 10px 0px;
    color: #969696;
    background-color: #fff;
}
#title-block .app-info{
}
#join-request{
    text-align: center;
}
#join-request button{
    color: #727272;
}
#join-request .info{
    color: #bbb;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-top: 30px;
}
#join-request form{
    margin-bottom: 80px;
}
#title-block .app-name{
    font-family: "Raleway", "Open Sans";
    font-size: 3em;
    vertical-align: middle;
}
#title-block .logo{
    width: 40px;
    margin-right: 20px;
}
#title-block .title{
    font-size: 1.6em;
}
#title-block #class-info{
    text-align: center;
}
#title-block .avatar{
    width: 50px;
    height: 50px;
    padding:4px;
    margin-bottom: 10px;
}

#body-block{
    padding-top: 20px;
}

#content-block{
    border-radius: 4px;
}
#content-block #tabs{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    text-align: center;
}
#content-block #tabs .tab{
    transition: none;
    padding: 0px 8px;
    color: rgba(100, 100, 100, 0.5);

}
#content-block #tabs .active{
    color: rgba(100, 100, 100, 1);
    border-bottom: 1px solid #e74c3c;
}
#content-block #content{
    padding: 0px 10px;
}

#quick-task-block{
    margin-top: 50px;
}

#quick-task-block .title{
    font-size: 0.88em;
    margin: 10px 4px;
    text-transform: uppercase;
    color: #c0392b;
}

#quick-task-block #tasks{
    background-color: #fff;
    padding: 10px 30px;
}

#quick-task-block #tasks .task{
    display: block;
    padding:8px 0px;
}
#quick-task-block #tasks .task i{
    width: 24px;
    margin-right: 6px;
}
.card-post-form form{
    margin-top: 30px;
}
.card-post-form .header-label{
    position: relative;
}
.expanded .header-label{
    color: #da4453;
}
.header .fa{
    transition: 0.5s;
}
.expanded .header .fa{
    transform: rotate(180deg);
}

.card-post-form .header{
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
}
.card-post-form .header:hover{
    color: #da4453;
}

.card-post-form .fa{
    margin-left: 20px;
}

.card-post-form #toggle-add-post-btn{

    text-align: right;
}
.expanded #toggle-add-post-btn{
    text-align: left;
}
.expanded #toggle-add-post-btn i{
    text-align: right;
}


.card-post-form form{
    display: none;
}

.tab-content{
    padding: 20px;
    display: block;
}

.card{
    background: #fff;
    padding: 10px 12px;
    margin:10px 0px;
    border-radius: 3px;
    color: #646464;
}

.card-teacher .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:4px;
    background-color: #f5f5f5;
}
.card-teacher .name{
    color: #303030;
}
.card-teacher .extra{
    font-weight: bold;
    font-size: 0.88em;
}
.card-post-form{
    padding: 20px 30px;
}
.card-post-form .title{
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 0.88em;
    margin-bottom: 20px;
    margin-left: 4px;
}
.form-add-post input[type="text"]{
    color: 646464;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 4px 10px;
}
.form-add-post input[type="text"]:focus{
    border-color: #a2a2a2;
}

.form-add-post{
    text-align: right;
}
.form-add-post input[type="submit"]{
    margin-top: 20px;
}
.form-add-post textarea{
    width: 100%;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    padding: 4px 10px;
    margin-bottom: 20px;
    resize: vertical;
}
.form-add-post textarea:focus{
    border-color: #a2a2a2;
}

.table-students{
    width: 100%;
    color: #646464;
}
.table-students th{
    padding: 12px 18px;
}
.table-students td{
    padding: 12px 18px;
    background: #fff;
}
.table-students tr{
    border-bottom: 1px solid #eee;
}
.table-students tr:first-child{
    border-bottom: none;
}
.table-students tr:last-child{
    border-bottom: none;
}

#subjects{
    display:inline-block;
}
.card-subject .shortname{
    padding:0px;
    margin:0px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    padding-top: 15px;
}
.card-subject .name{
    color: #303030;
}
.card-subject .extra{
    font-weight: bold;
    font-size: 0.88em;
}
