body{
}

#join-request{
    text-align: center;
}
#join-request button{
    color: #727272;
}
#join-request .info{
    color: #bbb;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-top: 30px;
}
#join-request form{
    margin-bottom: 80px;
}

#class-info .avatar{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
#class-info .extra{
    margin-left: 72px!important;
}

#content-block #tabs{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    text-align: center;
}
#content-block #tabs .tab{
    font-size: 0.88em;
    transition: none;
    padding: 0px 8px;
    color: rgba(100, 100, 100, 0.5);

}
#content-block #tabs .active{
    color: rgba(100, 100, 100, 1);
    border-bottom: 2px solid #e09680;
}
#content-block #content{
    padding: 0px 10px;
}

#quick-task-block{
    margin-top: 40px;

}

#quick-task-block .title{
    display: block;
    font-size: 0.88em;
    margin: 10px 6px;
    color: #e09680;
}

#quick-task-block #tasks{
    background-color: #fafafa;
    color: #646464;
    padding: 16px 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

#quick-task-block #tasks .task:hover{
    background-color: rgba(0,0,0, 0.02);
}
#quick-task-block #tasks .task{
    text-transform: none;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    color: #717171;
    display: block;
    line-height: 2.5;
}
#quick-task-block #tasks .task i{
    width: 24px;
    margin-right: 6px;
}

/**********************
    Add post form
**********************/
#add-post-form-container{
    display: block;
    text-align: right;
    padding: 0px;
    margin-top: 10px;
    border-radius: 6px;
}
#add-post-form-container i{
    margin-left: 10px;
    margin-right: 0px;
    transition: 0.2s;
}
.expanded i{
    transition: 0.5s;
    transform: rotate(180deg);
}
@keyframes fadeIn {
  0%   { background-color: transparent}
  100% { background-color: #fff }
}
.expanded{
    animation: fadeIn 0.5s ease-in;
}
#add-post-form-container .header{
    color: #717171;
}
.expanded .header{
    display: block;
}
.header-label{
    position: relative;
}
.expanded .header-label{
    color: #e09680;
}
.expanded{
    
}
#add-post-form{
    margin-top: 30px;
}
#add-post-form .header{
    display: block;
    text-align: right;
}
#add-post-form .header-label{
    position: relative;
}

#add-post-form-container #toggle-add-post-btn{
    text-align: right;
}
.expanded #toggle-add-post-btn{
    text-align: left;
}
.expanded #toggle-add-post-btn i{
    text-align: right;
}
#add-post-form{
    display: none;
}


.tab-content{
    padding-top:24px;
    display: block;
}

.card{
    background-color: #fafafa;
    color: #646464;
    padding: 16px 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.card-teacher .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding:4px;
    background-color: #f5f5f5;
}
.card-teacher .name{
    color: #303030;
}
.card-teacher .extra{
    font-weight: bold;
    font-size: 0.88em;
}
#add-post-form-container{
    padding: 20px 30px;
}
.form-add-post input[type="text"]{
    width: 100%;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 4px 10px;
}
.form-add-post input[type="text"]:focus{
    border-color: #aaa;
}

.form-add-post{
    text-align: right;
}
.form-add-post input[type="submit"]{
    margin-top: 20px;
}
.form-add-post textarea{
    width: 100%;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    padding: 4px 10px;
    margin-bottom: 20px;
    resize: vertical;
}
.form-add-post textarea:focus{
    border-color: #aaa;
}

.table-students{
    width: 100%;
    color: #646464;
}
.table-students th{
    padding: 12px 18px;
}
.table-students td{
    padding: 12px 18px;
    background: #fff;
}
.table-students tr{
    border-bottom: 1px solid #eee;
}
.table-students tr:first-child{
    border-bottom: none;
}
.table-students tr:last-child{
    border-bottom: none;
}

#subjects{
    display:inline-block;
}
.card-subject .shortname{
    padding:0px;
    margin:0px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    padding-top: 15px;
}
.card-subject .name{
    color: #303030;
}
.card-subject .extra{
    font-weight: bold;
    font-size: 0.88em;
}
