.block{

}

#footer-block{
    margin-top: 20px;
    padding-bottom: 20px;
    color: #a2a2a2;
}

#footer-block .about,
#footer-block .links{
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer-block .about .title {
    text-transform: lowercase;
    font-size:2em;
    margin-top:30px;
}
#footer-block .about .extra{
    font-weight: bold;
}
#footer-block .links > a{
    margin-right: 10px;
}
