.block{

}

#footer-block{
    margin-top: 20px;
    padding-bottom: 20px;
    color: #a2a2a2;
}

#footer-block .about,
#footer-block .links{
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer-block .about .title {
    font-family: "Raleway";
    font-size:2em;
    margin-top:30px;
}
#footer-block .about .extra{
    font-weight: bold;
}
#footer-block .links > a{
    margin-right: 10px;
}

.hidden{
    display: none;
}
.ghost{
    visibility: hidden;
}
.input-neat{
    border: none;
    outline: none;
    background-color: transparent;
}
