hr {
    margin: 6px;
}
.hidden{
    display: none;
}
.input-neat{
    border: none;
    outline: none;
    background-color: transparent;
}
.msg{
    text-align: center;
    text-transform: lowercase;
    font-size: 2em;
    color: #e0e0e0;
    padding: 50px 0px;
}
#title-block{
    color: #727272;
    padding-top: 16px;
    padding-bottom: 6px;
}
#title-block button{
    font-size: 1.5em;
    margin-right: 10px;
}
#title-block .title{
    font-size: 1.6em;
}

#search-post-input{
    padding: 10px 12px;
    width: 90%;
}

#content-block{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    min-height: 300px;
}

#post-block {
    padding: 0px;
    background-color: #fff;
    color: #727272;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
#post-block .search-input-container{
    padding: 6px 20px;
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#post-block .bottom-control-container{
    position: relative;
    padding: 12px 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#post-block .bottom-control-container button{
    font-family: "Open Sans Condensed", "Ubuntu Condensed";
    color: #a2a2a2;
}
#post-block .bottom-control-container button:hover{
    color: #da4453;
}

#post-block .posts{
    padding: 0px 30px;
}
.userpost{
    padding-top: 10px;
    padding-bottom: 10px;
}
.userpost .row{
    padding: 4px 0px;
}
.userpost .user-avatar{
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
    background-color: #e0e0e0;
}
.userpost .user-avatar-container{
    text-align: center;
}
.userpost .title{
    font-size: 1.23em;
}
.userpost .info{
    font-size: 0.88em;
    color: #bababa;
}
.userpost .content{
    padding: 20px 50px;
}
.userpost .tags{
    display: block;
    text-align: center;
}
.userpost .tag{
    color: #a2a2a2;
    font-size: 0.88em;
    font-weight: bold;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    padding: 4px 10px;
    margin-right: 12px;
}
.userpost .num-comments{
    display: block;
    text-align: right;
}
.userpost:nth-child(1){
    margin-top: 20px;
}


#news-block{
}

#news-block .news{
    margin-bottom: 5px;
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
#posts-loading-animation {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/img/loading-posts.gif');
    background-blend-mode: multiply;
    background-color: #fff;
}
