#header-section{
    background-color: #fff!important;
}

#header-section .title{
    font-size: 3em!important;
}
#app-download-link{
    text-align: center;
    margin: 10px auto;
}

#info-section{
    background-color: #e09680;
    color: #fff;
    text-align: justify;
    font-weight: bold;
    padding: 80px 0px;
}

#body-section{
    padding-top: 60px;
}

.feature{
    margin-bottom: 20px;
}
.feature a{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #e09680;
}
.feature p{
    text-align: justify;
}
