.navigation-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fafafa;
    padding: 16px;
}
#drawer-open-btn{
    font-size: 1.4em;
    margin-right: 10px;
    padding: 0px;
    color: #aaa;
}
#drawer-open-btn:hover{
    color: #717171;
}
.navigation-bar .title{
    font-size: 1.6em;
    font-weight: bold;
    color: #aaa;
}
