.navigation-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #e09680;
    padding: 16px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

#drawer-open-btn{
    font-size: 1.5em;
    margin-right: 10px;
    padding: 0px;
    color: #f0f0f0;
    outline: none;
}

#drawer-open-btn:hover{
    color: #fff;
}

.navigation-bar .title{
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}
