.navigation-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fafafa;
    padding: 16px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

#drawer-open-btn{
    font-size: 1.5em;
    margin-right: 10px;
    padding: 0px;
    color: #717171;
    outline: none;
}

#drawer-open-btn:hover{
    color: #646464;
}

.navigation-bar .title{
    
    font-size: 1.5em;
    color: #717171;
}
