body{

}

.card{
    background-color: #fafafa;
    color: #646464;
    padding: 16px 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.card-post{
    padding: 24px 36px;
    line-height:1.5;
    margin-bottom: 20px;
}
.card-post .title{
    font-weight: 200;
    font-size: 2.5em;
    color: #e09680;
}
.card-post .extra{
    font-size: 0.88em;
    margin-top: 10px;
    font-weight: bold;
    color: #aaa;
}
.card-post .extra span{
    margin-right: 80px;
    display: inline-block;
}
.card-post .content{
    color: #303030;
    margin-top: 24px;
    text-align: justify;
}

.card-post #comment-form{
    margin-top: 40px;
    text-align: right;
}
#comment-form input[type="text"]{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
#comment-form input[type="text"]:focus{
    border-bottom-color: #bbb;
}
#comment-form input[type="submit"]{
    margin-top: 30px;
}
.card-comment{
    background-color: transparent!important;
    box-shadow: none;
    position: relative;
}

.card-comment .info *{
    margin-bottom: 2px;
}
.card-comment .info{
    display: flex;
    align-items: flex-end;;
    flex-flow: column;
}
.card-comment .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
}
.card-comment .user-name{
    color: #aaa;
}

.card-comment .time{
    font-size: 0.88em;
    float: right;
}

.card-comment .content{
    padding: 24px;
    background-color: #f5f5f5;
    text-align: justify;
    border-radius: 5px;
}

.card-comment .pointer{
    position: absolute;
    width: 0;
	height: 0;
	border-top: 1px solid #f5f5f5;
	border-bottom: 10px solid transparent;
	border-right:15px solid #f5f5f5;
    top: 16px;
    left: 0;
}

.card-quick-tasks .card-title{
    display: block;
    font-size: 0.88em;
    margin: 10px 6px;
    color: #e09680;
}
.card-quick-tasks a{
    display: block;
}
.card-quick-tasks .menu-item{
    text-transform: none;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    color: #717171;
    display: block;
    line-height: 2.5;
}
.card-quick-tasks .menu-item:hover{
    background-color: rgba(0, 0, 0, 0.02);
}
.card-quick-tasks i{
    width: 24px;
}
#comments{
    margin-bottom: 20px;
}
