#register-block{
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: "Open Sans Light";
    background: linear-gradient(#ecf0f1 0%, #fff 140px, #fff 100%);
}

.error{
    font-family: "Open Sans";
    color: #e74c3c;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.23em;
}


form > input[type="text"],
form > input[type="password"]{
    width: calc(100% - 20px);
    margin:20px;
    padding: 0px 20px 10px 20px;
    border: none;
    border-bottom: solid 1px #dcd;
    background-color: transparent;
    outline: none;
    font-size: 1.6em;
    transition: 0.2s;
}
form > input[type="text"]:focus,
form > input[type="password"]:focus{
    border-bottom: solid 1px #aaa;
}


form > input[type="submit"]{
    float: right;
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 0px;
    font-size: 1.6em;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #27ae60;
    outline: none;
}
form > input[type="submit"]:hover{
    color:#2ecc71;
}

#agreement-input{
    font-family: "Open Sans";
    font-size: 1.2em;
    padding-left: 40px;
    padding-top: 30px;
}

#signin-link{
    font-family: "Open Sans";
    font-weight: bold;
    color: #776;
    text-align: center;
    margin-top: 50px;
}

#footer-block{
    background: linear-gradient(#fff, #ecf0f1);
}
#footer-block p{
    font-family: "Open Sans Light";
    color: #877;
}
#footer-block hr{
    border-color: #ccc;
    border-bottom-color: transparent;
}
