#register-block{
    padding: 20px 0px;
}

.error{
    color: #e74c3c;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.23em;
}

form  input[type="text"],
form  input[type="password"]{
    width: calc(100% - 40px);
    margin:20px;
    padding: 0px 20px 10px 20px;
    border: none;
    border-bottom: solid 1px #dcd;
    background-color: transparent;
    outline: none;
    transition: 0.2s;
}
form  input[type="text"]:focus,
form  input[type="password"]:focus{
    border-bottom: solid 1px #aaa;
}


form  input[type="submit"]{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.2s;
    font-size: 1.11em;
}

#agreement-input{
    color: #646464;
    padding-left: 40px;
    padding-top: 20px;
}

#signin-link{
    color: #646464;
    text-align: center;
    margin-top: 30px;
}

.modal-body{
    padding: 10px 50px !important;
    text-align: justify;
}
