body{
    background-color: #f0f0f0!important;
}
#routine-block{
    margin-top: 100px;
}
#routine-block .row{
    text-align: center;
    min-height: 60px;
    display: flex;
    align-items: center;
}
#routine-block .row:nth-child(even){
    background: #ddd;
}

#routine-block .periods{
    display: flex;
    text-align: left;
}

#time-line-wrapper{
    position:fixed;
    top: 60px;
    left:0;
    right:0;
    z-index: 1;
    background-color: #fafafa;
    height: 30px;
}
#time-line{
    position: relative;
    height: 100%;
}
#time-line .time-stop{
    position: absolute;
    width: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}
#time-line .time-stop:focus{
    border-bottom: 1px solid #bbb;
}
#time-line .ghost{
    width: 0px;
    overflow: hidden;
}
.col-periods{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.day-name{
    font-weight: 300;
    color: #cf605f;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0px;
}
.period{
    align-items: stretch;
    min-width: 100px;
    padding:5px 5px 5px 10px;
    margin:2px 0px;
    background-color: #fff;
    color: #323232;
    line-height: 1.5;
    transition: 0.2s;
    border-left: 1px solid #aa4c3c;
    overflow: hidden;
}
.period .type{
    float: right;
    font-size: 0.7em;
    color: #fff;
    background-color: #717171;
    font-weight: bold;
    padding: 0px 3px;
}
.period p{
    margin: 0px;
}
.period .subject{
    font-size: 1.11em;
}
.period .teachers,
.period .remarks{
    transition: 0.2s;
    color: #717171;
    font-size: 0.88em;
}
.period .teachers{
}
.hidden{
    display: none;
}
