#title-block{
    display: block;
}
#save-btn{
    float:right;
    font-weight: bold;
    color: #717171;
}
#group-select{
    display: inline-block;
    margin-right:30px;
    font-weight: 300;
    float:right;
    color: #fff;
    font-weight: bold;
}
#group-select select{
    outline: none;
    min-width: 100px;
    padding: 2px 6px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: transparent;
    transition: 0.2s;
}
#group-select select option{
    padding: 10px!important;
    color: #717171;
}
.btn-add-period{
    padding: 0px;
    font-size:0.77em;
    background-color: transparent;
    border: none;
    outline:none;
}
.period:hover{
    background-color: #f0f0f0;
}
.period{
    cursor: pointer;
    transition: 0.2s;
}
.period:hover .remarks,
.period:hover .teachers{

}
.fa{
    margin-right: 0px!important;
}
