#title-block{
    background-color: #f5f5f5;
    color: #646464;
    padding: 30px 0px;
}
#title-block .links{
    text-align: right;
    text-transform: uppercase;
}
#title-block .title{
    font-family: "Raleway";
    font-weight: 100;
    font-size: 4em;
    font-weight: 100;
}
#title-block .extra{
    font-size: 1.6em;
}

#signin-block{
    padding-top: 20px;
    font-family: "Open Sans Light";
}

.error{
    font-family: "Open Sans";
    color: #e74c3c;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.23em;
}

form > input[type="text"],
form > input[type="password"]{
    width: calc(100% - 40px);
    margin:20px;
    padding: 0px 20px 10px 20px;
    border: none;
    border-bottom: solid 1px #dcd;
    background-color: transparent;
    outline: none;
    font-size: 1.6em;
    transition: 0.2s;
}
form > input[type="text"]:focus,
form > input[type="password"]:focus{
    border-bottom: solid 1px #aaa;
}

form > input[type="submit"]{
    float: right;
    font-family: "Open Sans Condensed", "Ubuntu Condensed";
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 1.6em;
    border: none;
    background-color: transparent;
    color: #2980b9;
    outline: none;
}

form > input[type="submit"]:hover{
    color:#3498db;
}

#register-link{
    font-family: "Open Sans";
    color: #776;
    font-weight: normal;
    text-align: center;
    padding-top: 100px;
}
