#signin-block{
    padding: 40px 0px;
}

.error{
    color: #e74c3c;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.11em;
}

form > input[type="text"],
form > input[type="password"]{
    width: calc(100% - 40px);
    margin:20px;
    padding: 0px 20px 10px 20px;
    border: none;
    border-bottom: solid 1px #dcd;
    background-color: transparent;
    outline: none;
    font-size: 1.6em;
    transition: 0.2s;
}
form > input[type="text"]:focus,
form > input[type="password"]:focus{
    border-bottom: solid 1px #aaa;
}

form > input[type="submit"]{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 1.6em;
    transition: 0.2s;
}

#register-link{
    text-align: center;
    padding-top: 100px;
}

#register-link a{
}
