#title-block input[type="submit"]{
    margin-left: 50px;
}
#title-block input[type="submit"],
#view-all-link{
    font-family: "Open Sans Condensed", "Ubuntu Condensed";
    text-transform:uppercase;
    font-size: 1.23em;
    float:right;
    background-color: transparent;
    color: #3498db;
    border: none;
    outline: none;
}
#view-all-link{
    margin-top: 30px;
}
#title-block input[type="submit"]:hover,
#view-all-link:hover{
    color:#2980b9;
}
#news-block{
    font-family: "Open Sans";
    background: linear-gradient(#ecf0f1 0%, #fff 140px, #fff 100%);
    padding-top: 0px;
}
#news-block h2{
    font-family: "Open Sans Light";
    font-size: 32px;
    text-align: center;
    color: #e74c3c;
    margin-bottom: 30px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.userpost{
    padding: 20px;
    margin: 6px 0px;

}
.userpost > .row{
    margin-left: 0px;
    margin-right: 0px;
}
.control-toggle-comments{
    text-align: center;
}
.btn-toggle-comments{
    font-size: 0.9em;
    font-family: "Open Sans Condensed", "Ubuntu Condensed";
    border: none;
    outline: none;
}
.btn-send,
.userpost input[type='text']{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
}
.btn-send{
    color: #3498db;
    position: absolute;
    right: 0px;
}
.btn-send:hover{
    color: #2980b9;
}
.control-add-comment{
    padding: 0px;
}
.userpost input[type='text']{
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 26px 0px 6px;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    transition: 0.2s;
}
.userpost input[type='text']:focus{
    border-bottom: 1px solid #727272;
}

.userinfo .time{
    color: #aaa;
    font-size: 0.9em;
}
.userinfo-op{
    margin-bottom: 10px;
}
.userpost .content{
    color: #484848;
}
.userpost > .content{
    padding: 10px 0px;
}
.userinfo .user-avatar{
    float: left;
    width: 42px;
    margin-right: 10px;
    border-radius: 50%;
}
.comments{
    display: none;
    padding:10px;
    margin-top: 10px;
}
.comment{
    padding:3px 0px;
}
.hidden{
    display: none;
}
