#title-block{
    font-family: "Open Sans";
    background-color:#ecf0f1;
    color:#27ae60;
}

#title-block h1{
    font-family: "Open Sans Light";
    font-size: 56px;
    font-weight: lighter;
    color: #201612;
}

#title-block p{
    font-size: 1.23em;
    color: #d35400;
}

#view-all-link{
    margin-top: 30px;
}
#title-block input[type="submit"]{
    margin-left: 50px;
}

#title-block input[type="submit"],
#title-block a,
#view-all-link,
.view-all-link{
    font-family: "Dosis";
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.23em;
    float:right;
    background-color: transparent;
    color: #2980b9;
    border: none;
    outline: none;
}
.view-all-link:hover{
    color:#3498db;
}

#news-block{
    font-family: "Open Sans";
    background: linear-gradient(#ecf0f1 0%, #fff 240px, #fff 100%);
}
#news-block h2{
    font-family: "Open Sans Light";
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments .container-comment-controls{
    color: #999;
    font-size: 0.9em;
    margin-top: 40px;
}
.comments .container-comment-controls .btn-send{
    color: #2980b9;
    position: absolute;
    right: 10px;
    top: 0px;
}
.comments .container-comment-controls button{
    border: none;
    outline: none;
    background-color: transparent;
}
.comments .container-comment-controls input[type="text"]{
    width: 100%;
    outline: none;
    border: none;
    padding: 0px 50px 5px 0px;
    border-bottom: 1px solid #eee;
    transition: 0.2s;
    background-color: transparent;
}
.comments .container-comment-controls input[type="text"]:focus{
    border-bottom: 1px solid #ccc;
}
.card-post{
    margin-top: 50px;
}


.comments .list-comment{
    display: none;
}
.list-comment .user-name{
    color: #d35400;
}
.card-post .comments h4{
    font-size: 1em;
    color: #aaa;
}

.card-post .detail{
    font-family: "Open Sans";
}

.card-post .op-info{
    line-height: 1.23em;
    margin-bottom: 16px;
}
.card-post .op-info .op-name,
.comment .user-name{
    color: #d35400;
}
.card-post .op-info .post-time,
.comment .post-time{
    font-family: "Open Sans Light";
    color: #888;
    font-size: 0.9em;
}
.comment p{
    color: #666;
}
.container-user-avatar{
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.container-user-avatar img{
    width: 36px;
    height: 36px;
}
.comment{
    margin-top:20px;
    margin-bottom:20px;
}

.card-event .title{
    font-family: "Open Sans";
    color: #222;
}

.card-event .eta-high{
    color: #27ae60;
}
.card-event .eta-med{
    color: #2980b9;
}
.card-event .eta-low{
    color: #e74c3c;
}

.card-event .topic{
    color: #d35400;
    font-size: 0.9em;
}

.card-event .post-detail{
    font-family: "Open Sans Light";
    text-align: right;
    color: #aaa;
    font-size: 0.9em;
}
.card-event .post-detail .op-name{
    color: #d35400;
    font-size: 1em;
}

.card-event{
    line-height: 2em;
}
