body {
    color: #303030;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}
a, a:focus, a:active {
    font-family: "Cabin Condensed", "Ubuntu Condensed";
    color: #808080;
    transition: 0.5s;
}
a:hover {
    color: #da4453;
}
a:hover, a:link, a:visited {
    text-decoration: none;
}
.shadow{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.color-bg{
    background-color: #fafafa;
}
.color-bg-dark{
    background-color: #f5f5f5;
}
