body {
    color: #303030;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}
a, a:focus, a:active {
    font-family: "Josefin Sans", "Ubuntu";
    color: #808080;
    transition: 0.5s;
}
a:hover {
    color: #da4453;
}
a:hover, a:link, a:visited {
    text-decoration: none;
}
button{
    font-family: "Josefin Sans", "Ubuntu";
    text-transform: uppercase;
    color: #808080;
}
button:hover{
    color: #da4453;
}

.shadow{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.color-bg{
    background-color: #fafafa;
}
.color-bg-dark{
    background-color: #f5f5f5;
}
